<section class="formContainer">
    <div class="logoContainer">
            <img [src]="logoUrl" alt="Logo">
            <p>{{ formTitle }}</p>
    </div>
    <form>
        <div class="input-container input-email-container">
            <img [src]="emailIconUrl" alt="EmailIcon">
            <input type="text" name="Email" [(ngModel)] = email>
        </div>
        <div class="input-container input-password-container">
            <img [src]="passwordIconUrl" alt="PasswordIcon">
            <input type="password" name="Password" [(ngModel)] = password>
        </div>
        <div class="input-container input-password-container">
            <img [src]="passwordIconUrl" alt="PasswordIcon">
            <input type="password" name="Password" [(ngModel)] = passwordRepeat>
        </div>
    </form>

    <div class="buttonsContainer">
        <button (click) = onTroublesSigningUp()>{{troublesSigninUp}}</button>
        <button (click) = onSignUp()>{{signUpButtonText}}</button>
    </div>
</section>