.grid-container {
    display: grid;
    grid-template-areas: "a b" 
                         "a b";
    height: 100vh;

    .leftColumn{
        grid-area: a;
        height: 100%;
    }

    .rightColumn{
        grid-area: b;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%; /* This ensures the rightColumn fills its grid area */
    }
    
}